form.searchTicket {
  display: flex;
}

svg {
  font-size: 2rem;
}

svg:hover {
  cursor: pointer;
}

.searchTicket {
  width: 24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiFormControl-marginNormal {
  margin: 0!important;
}