.seat {
  width: 40px;
  height: 20px;
  border-radius: 2px;
}

.up {
  border-top: 2px solid darkblue;;
}

.down {
  border-bottom: 2px solid darkblue;;
}

.seat:hover {
  cursor: pointer;
  background-color: darkgray;
}

.selected {
  background-color: tomato ;
}

.selected:hover {
  background-color: tomato!important ;
}


.up.sold {
  border-top: 2px solid gray;
}

.down.sold { 
  border-bottom: 2px solid gray;
}

.sold:hover {
  background-color: white;
  cursor: default;
}
